#title-img {
	height: 60px;
	margin: 0 5px;
}
.title-cont {
	text-align: center;
	overflow: hidden;
	height: 60px;
}

.color-list {
	width: 800px;
	margin-top: 50px;
}

.list-color-container {
	display: inline-block;
	height: 15px;
    margin-bottom: 40px;
}

.list-colorball {
	display: inline-block;
	width: 45px;
    vertical-align: middle;
    font-size: 3em;
}

.list-flossnum {
	display: inline-block;
    width: 45px;
    vertical-align: middle;
    font-weight: bold;
}

.list-flossname {
	display: inline-block;
	width: 300px;
    vertical-align: middle;
}

.list-colorball > img {
	border: 1px dotted black;
	border-radius: 10px;
}

.print-elem {
	visibility: hidden;
}

.print-elem.bottom-spaced {
	margin-bottom: 80px;
}

#redu-img-cont {
	text-align: center;
	height: 900px;
	border: 1px dashed black;
}

.palt-img {
	min-width: 400px;
}

.button-container {
	margin-top: 50px;
    text-align: center;
}

.print-btn {
	margin-top: 15%;
    transform: scale(2.5);
}

.action-row {
	
}
