input[type="file"] {
    width: 1px; height: 1px;
    position: absolute;
    top: -10px; left: -10px;
}

canvas, img.img-box {
	box-shadow: 0 0 10px 0 #797979;
	border-radius: 3px;
}

body, html, .container-fluid {
  height: 100%;
  color: #383838;
  padding-bottom: 75px;
  text-align: center;
}

.step-box {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px 20px 40px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #b7b7b7;
	margin-bottom: 3%;
}

.top-spaced-cont {
	margin-top: 5%;
}

.anim-hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.header-img-row {
	margin-top: 2%;
	margin-bottom: 60px;
}

.main-banner {
	width: 300px;
}

.result-clickable:hover {
	cursor: crosshair;
}

.img-cont-generic {
	background-color: white;
	box-shadow: 0px 0px 10px 0px #b7b7b7;
	border-radius: 10px;
	padding: 3% 0;
}

#num-colors {
	width: 80px;
	display: inline-block;
}

.inline-num-input {
	margin-top: 7%;
}

.main-container {
	padding-bottom: 100px;
}

h3 {
	color: #a97322;	
}

.upload-btn {
	margin-top: 20px;
}

#retry-row {
	display: none;
	margin: 5% 0;
    padding: 5% 0;
    border-top: 2px dotted #c58d38;
}

.img-box {
	margin: 25px 0;
}

#tooltip {
    display:block;
    position:fixed;
    overflow:hidden;
    width: 240px;
    height: 350px;
    background-color: white;
    padding: 3px 15px;
    visibility: hidden;
}

#tooltip.upleft {
	border-radius: 25px 25px 0 25px;
	box-shadow: -7px -7px 10px -5px #b7802d;
}

#tooltip.upright {
	border-radius: 25px 25px 25px 0;
	box-shadow: 7px -7px 10px -5px #b7802d;
}

#tooltip.downleft {
	border-radius: 25px 0 25px 25px;
	box-shadow: -7px 7px 10px -5px #b7802d;
}

#tooltip.downright {
	border-radius: 0 25px 25px 25px;
	box-shadow: 7px 7px 10px -5px #b7802d;
}

.color-container {
	margin-bottom: 10px;
}

.colorball {
	display: inline-block;
	height: 18px;
    width: 18px;
    border-radius: 6px;
    vertical-align: sub;
    border: 1px dotted #383838;
}
.flossnum {
	display: inline-block;
	width: 40px;
    margin-left: 5px;
    font-weight: bold;
}
.flossname {
	display: inline-block;
}

#num-colors {
	vertical-align: bottom;
}

#loader {
    position:fixed;
    overflow:hidden;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 5000px rgba(0,0,0,0.6);
    border-radius: 150px;
}

.loader-img {
	width: 300px;
	border-radius: 150px;
}

body {
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
}