#title-img {
	height: 60px;
	margin: 0 5px;
}
.title-cont {
	text-align: center;
	overflow: hidden;
	height: 60px;
}

.color-list {
	width: 800px;
	margin-top: 50px;
}

.list-color-container {
	display: inline-block;
	height: 15px;
    margin-bottom: 40px;
}

.list-colorball {
	display: inline-block;
	width: 45px;
    vertical-align: middle;
    font-size: 3em;
}

.list-flossnum {
	display: inline-block;
    width: 45px;
    vertical-align: middle;
    font-weight: bold;
}

.list-flossname {
	display: inline-block;
	width: 300px;
    vertical-align: middle;
}

.list-colorball > img {
	border: 1px dotted black;
	border-radius: 10px;
}

.print-elem {
	visibility: hidden;
}

.print-elem.bottom-spaced {
	margin-bottom: 80px;
}

#redu-img-cont {
	text-align: center;
	height: 900px;
	border: 1px dashed black;
}

.palt-img {
	min-width: 400px;
}

@media screen and (min-width: 993px) {
	.button-container {
		margin-top: 50px;
	    text-align: center;
	}

	.print-btn-row {
		transform: scale(1.5);
		margin-bottom: 75px;
	}

	.disclaimer {
		display: inline-block;
		width: 60%;
		font-size: 1.5em;
		margin-bottom: 75px;
	}
}

@media screen and (max-width: 992px) {
	body {
		text-align: center;
	}

	.button-container {
		margin-top: 50px;
	    text-align: center;
	}
	.print-btn-row {
	    margin-bottom: 300px;
	}
	.print-btn {
		transform: scale(4);
	}
	.disclaimer {
		font-size: 3.5em;
		margin-bottom: 200px;
		padding: 0 100px;
	}
}


